[submodule "utils/libmultitask"]
	path = utils/libmultitask
	url = https://github.com/zhasha/libmultitask.git
[submodule "utils/OpenV2G_0.9.3/OpenV2G-nikolav2g"]
	path = utils/OpenV2G_0.9.3/OpenV2G-nikolav2g
	url = https://github.com/zhasha/OpenV2G-nikolav2g.git
[submodule "utils/OpenV2G-nikolav2g"]
	path = utils/OpenV2G-nikolav2g
	url = https://github.com/zhasha/OpenV2G-nikolav2g.git
